body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c0c0aa , #1ce); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c0c0aa , #1ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-default .navbar-brand:hover {
  color: #111;
}

.navbar-default {
  background:none;
  border:none;
}

/* Centered Brand */
.navbar-brand {
  float: none; !important
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

.input-group-btn > .btn {
  border-radius: 0px;
  border-color: #111;
  color: #111
}

.input-group-lg>.input-group-btn>.btn {
  border-radius: 0px;
}

.input-group .form-control {
  border-radius: 0px;
  border-color: #111;
  box-shadow: none;
  background-color: transparent;
  color: #111;
}

line {
  stroke: #333;
  stroke-opacity: 1;
}

image {
  cursor:pointer;
}

/*Center Embedded Tweets*/
/*.twitter-tweet {
  display:block;
  margin:auto;
}*/
