body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: linear-gradient(270deg, #18f0b8, #18a2f0, #db5640);
	background-size: 600% 600%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}

@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.navbar-default .navbar-brand a {
  color:black; !important
}

/* Centered Brand */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    color:black;
}
.navbar-toggle {
    z-index:3;
}

/**/

/* Vertical alignment test

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.flexbox {
 display:flex;
 justify-content:center;
 align-items: center;
 flex-flow: column;
}*/

/* Styling for the header and search regions */
header p {
  font-size:24px;
  text-align: center;
}

.input-group-btn > .btn {
  border-radius: 0px;
  border-color: #ccc;
  color:#999
}

.input-group .form-control {
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
}

/*<line class="links" x1="478.6307571311368" y1="298.5003408082626" x2="412.62552337319073" y2="286.504312969463"></line>*/

line {
  stroke: #333;
  stroke-opacity: 0.6;
}

image {
  cursor:pointer;
}
