extends layout

block head_scripts
  link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css")
  script(src="/javascripts/progressbar.min.js")

block head
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet

block main
  .container
    .row(id="searchBar")
      .col-lg-offset-3.col-lg-6
        .welcome(id="welcome")
          div.input-group.input-group-lg
            input(type="text" class="form-control" placeholder="@Username" id="userInput")
            span.input-group-btn
              a(class="btn btn-secondary" id="getTweets" type="submit") See!
    .row(id="loader" style="display:none;")
      .col-lg-offset-5.col-lg-2
        div(id="container")

  //-   div.col-lg-offset-3.col-lg-6
  //-     div.input-group.input-group-lg
  //-       input(type="text" class="form-control" placeholder="@Username" id="userInput")
  //-       span.input-group-btn
  //-         a(class="btn btn-secondary" id="getTweets" type="submit") See!
  //-
  //- div.col-lg.offset-3.col-lg-3
  //-   div(id="container")

      //- <div class="container">
      //-     <div class="row">
      //-         <div class="col-lg-offset-3 col-lg-6"></div>
      //-     </div>
      //-     <div class="row">
      //-         <div class="col-lg-offset-5 col-lg-2"></div>
      //-     </div>
      //- </div>



  //- div.col-lg-12
  //-   div.clear-loading.loading-effect-2(style="margin:0 auto;float:none;")
  //-     span
    //- https://codepen.io/ghost028/pen/GqGYyb
    //- div.container
    //- 	div.dot
    //-     p xoxox
    //- 	div.dot
    //- 	div.dot



block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/file.js")
  script.
    var line = new ProgressBar.Line('#container');
