extends layout

block main
  div.col-lg-offset-3.col-lg-6
    div.input-group
      input(type="text" class="form-control" placeholder="@Username" id="userInput")
      span.input-group-btn
        a(class="btn btn-secondary" id="getTweets")
          span See!
