extends layout

block head
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet

block main
  div.col-lg-offset-3.col-lg-6
    div.input-group.input-group-lg
      input(type="text" class="form-control" placeholder="@Username" id="userInput")
      span.input-group-btn
        a(class="btn btn-secondary" id="getTweets" type="submit")
          span See!
