extends layout

block head
  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet
    // Collect the nav links, forms, and other content for toggling
    //- #navbar-collapse-1.collapse.navbar-collapse
    //-   ul.nav.navbar-nav.navbar-right
    //-     li
    //-       a(href='#') Link
    //-     li
    //-       a(href='#') Link
    //-     li
    //-       a(href='#') Link
    //-     li.dropdown
    //-       a.dropdown-toggle(href='#', data-toggle='dropdown')
    //-         | Dropdown
    //-         b.caret
    //-       ul.dropdown-menu
    //-         li
    //-           a(href='#') Action
    //-         li
    //-           a(href='#') Another action
    //-         li
    //-           a(href='#') Something else here
    //-         li.divider
    //-         li
    //-           a(href='#') Separated link
    // /.navbar-collapse


block main
  div.col-lg-offset-3.col-lg-6
    div.input-group.input-group-lg
      input(type="text" class="form-control" placeholder="@Username" id="userInput")
      span.input-group-btn
        a(class="btn btn-secondary" id="getTweets" type="submit")
          span See!
