extends layout

block search
  div.input-group
    span#basic-addon1.input-group-addon @
    input(type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1")

block timeline 
  p #{info.tweets}
  p $(info)

//script (var data = !{JSON.stringify(info.tweets).replace(/<\//g, "<\\/")})     
