extends layout

block search
  div.input-group
    span#basic-addon1.input-group-addon @
    input(type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1")

block timeline 

  ul
  each val in info.tweets
    li= val

  //p #{info.tweets[1]}

//script (var data = !{JSON.stringify(info.tweets).replace(/<\//g, "<\\/")})     
