doctype
html
    head
        title=title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/Chart.bundle.min.js")
        script.
          var tweet_times = !{JSON.stringify(tweet_times)}
          console.log(tweet_times);

    body

        block head

        block main

    block scripts
