extends layout

block head
  nav.navbar.navbar-default(role='navigation')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-center.navbar-brand(href='#')
      a.navbar-brand(style="float:none;" href="#") SeeTweet
    // Collect the nav links, forms, and other content for toggling
    #navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href='#')
            span.glyphicon.glyphicon-home
        li
          a(href='profile') Your Profile
        li
          a(href='#') Statistics

block main
  div.col-lg-6
    p(style="font-size:72px") #{statuses} Tweets Tweeted...
    - for (var x = 1; x <= statuses; x++)
      img(src="images/Twitter_Logo_Blue.png" data-toggle="tooltip" title=x style="width:16px;height:16px;")

    p(style="font-size:72px") On average #{created} Tweets per day...

  div.col-lg-6
    div(id="tweet-wrapper")
      p(style="font-size:64px;") Top Tweets
      div(class="btn-group" role="group" aria-label="...")
        button(type="button" class="btn btn-default") Number of Retweets
        button(type="button" class="btn btn-default") Number of Likes
        button(type="button" class="btn btn-default") Popularity (RTs + Likes)

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/file.js")
  script(src="https://d3js.org/d3.v4.min.js")
  script.
      window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
              t._e.push(f);
          };
      return t;
      }(document, "script", "twitter-wjs"));
  script(src="/javascripts/file.js")
  script.
      var local_metrics = !{JSON.stringify(metrics)};
      console.log(local_metrics);
  //- script(src="/javascripts/graph.js")
  script(src="/javascripts/stats.js")
