extends layout

block head_scripts
  link(rel='stylesheet', href='/stylesheets/ion.rangeSlider.css')
  link(rel='stylesheet', href='/stylesheets/ion.rangeSlider.skinFlat.css')

block head
    nav.navbar.navbar-default(role='navigation')
        //- Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-center.navbar-brand(href='#')
            a.navbar-brand(style="float:none;" href="#") SeeTweet
        //- Collect the nav links, forms, and other content for toggling
        #navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li
                    a(href='#')
                        span(style="text-decoration:underline").glyphicon.glyphicon-home
                li
                    a(id='getProfile' href='javascript:void();') !{name}'s Profile
                li
                    a(id='getStatistics' href='javascript:void();') !{name}'s Statistics

block main
  .container
    .alert.alert-info.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      strong Welcome to SeeTweet -
      |  This site aims to give you an insight into the tweeting habits of 
      |  your chosen profile.<br/><br/> The graph below shows a network of the 
      |  other twitter users your profile interacts with most often. 
      |  Click on a user to see their timeline and change the date slider to 
      |  observe changes in your profile's network throughout the average day.

  div.col-lg-6
    div.col-lg-10
      input(type='text', id="range" value="" name="range")
    div.col-lg-2(style="height:60px;padding-top:15px;")
      button(id="graphUpdate" type="button" class="btn btn-info" style="background-color:#55acee") Update
    svg(style="display:block;margin:auto;" width="600" height="500")
  div.col-lg-6
      div(id="twitter-wrapper")

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/javascripts/file.js")
  script(src="https://d3js.org/d3.v4.min.js")
  script(src="/javascripts/ion.rangeSlider.min.js")
  script.
    var time = !{JSON.stringify(time)};
    $(function () {
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 24,
            from: time[0],
            to: time[1],
            type: 'double',
            step: 1,
            grid: true,
            postfix: " hours",
            onFinish: function (data) {
                var trimmedUrl = document.URL.substring(0, document.URL.indexOf("&"));
                var url = trimmedUrl + '&' + 'time=' + data.from + ',' + data.to;
                history.replaceState('', '', url);
            }
        });
    });
  script.
      window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
              t._e.push(f);
          };
      return t;
      }(document, "script", "twitter-wjs"));
  script.
      var local_data = !{JSON.stringify(result)};
      console.log(local_data);
  script(src="/javascripts/graph.js")
